.layout {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #0a0a0a; 
    color: #f1f1f1; 
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #0d0d0d; 
}

.main {
    padding: 1rem;
    overflow-y: auto;
    flex: 1;
    background-color: #222323; 
    border-left: 1px solid rgba(59,62,62, 0.05); 
}
